___
<a href='https://www.k2analytics.co.in'> <img src='https://k2analytics.co.in/wp-content/uploads/2020/03/Divi-K2-Logo.png' /></a>
<p style="text-align: center; font-size: 12px"> Trainer: Rajesh Jakhotia  </p>
<p style="text-align: center; font-size: 12px"> ar.jakhotia@k2analytics.co.in | 8939694874  </p>

***
PYTHON BASICS

* Data types
    * Numbers
    * Strings
    * Booleans
 
* Objects

* Data Structures

    * Lists
    * Dictionaries
    * Tuples 
    * Sets
  
* Mutable vs Immutable

# Numbers
***
<font color = #318CE7 size = 3 >
    
- Integer
- Float
- Complex
    
</font>

In [1]:
a = 1 # integer
b = 2.0 # float / decimal
c = 1j # complex

In [2]:
print(a)
print(b)
print(c)

1
2.0
1j

In [3]:
# type(a)
# type(b)
# type(c)

print(type(a))
print(type(b))
print(type(c))
print(type(a),type(b),type(c))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'int'> <class 'float'> <class 'complex'>

#### <font color = Cadmium orange>type() function usage</font>
> type() function shows the data type of the variable.

# Strings
- strings are declared by enclosing the text between single quote or double quote

In [4]:
'Welcome to the world of Python Programming'

'Welcome to the world of Python Programming'

In [5]:
"He who laughs last didn't get the joke." # wraps other quotes in it.

"He who laughs last didn't get the joke."

Multiline text has to be enclosed between three single quote or three double quote

In [6]:
'''I choose a lazy person to do a hard job.
Because a lazy person will find an easy way to do it.|
- Bill Gates'''

'I choose a lazy person to do a hard job.\nBecause a lazy person will find an easy way to do it.|\n- Bill Gates'

In [7]:
"""I choose a lazy person to do a hard job.
Because a lazy person will find an easy way to do it.
- Bill Gates""" 

#'''
#Line 1
#Line 2
#Line 3
#'''

'I choose a lazy person to do a hard job.\nBecause a lazy person will find an easy way to do it.\n- Bill Gates'

In [8]:
# \n is programming way of depicting new line (i.e. ENTER KEY Press)
# \ in programming is used for ESCAPE SEQUENCE

## Some basic String Manipulation

In [9]:
a = 1

In [10]:
a = 'STRING_MANIPULATION'

In [11]:
a

'STRING_MANIPULATION'

In [12]:
type(a)  ## In python we do not have explicit variable data type declaration

str

In [13]:
a[0] # indexing in python starts from Zero

'S'

In [14]:
# a[<what should be the number to get the character G>]
a[5]

'G'

In [15]:
a[-3]

'I'

In [16]:
a[0:] # [START : ] output from start index to everything beyond it

'STRING_MANIPULATION'

In [17]:
a[:4] # [ : END] output shows everything but upto 4 - 1 index

'STRI'

In [18]:
a[4:11]# [ START : END]

'NG_MANI'

# Booleans
***
<font color = #318CE7 size = 3 >
    
- Boolean values are the two constant objects .i.e. True and False.
- The built-in function bool() is used to cast any value to a Boolean.
</font>

In [19]:
True  # True is an internally defined key word in python

True

In [20]:
True = 'Yes' # Variable cannot have keywords as the variable name

SyntaxError: cannot assign to True (2978859183.py, line 1)

In [21]:
False

False

In [22]:
bool(1) ## In programming we typically use numeric value 1 to denote True

True

In [23]:
bool(0) # and numeric value 0 to denote false

False

In [24]:
bool(-1) # Note: any number other than 0 will return True

True

# Objects
***
<font color = #318CE7 size = 3 >
    
- Everything in Python is an Object
</font>

In [25]:
AA = 10
id(AA)

140717114442824

### Explanation for above exectuted statement
- Above code will create an object having value 10 in the memory
- AA is the name of the variable pointing to the object having value 10 in the memory
- id() function returns the memory location of the object 10 in the memory

In [26]:
BB = 10
print (id(AA), id(BB))

140717114442824 140717114442824

### Explanation for output of id(AA) and id(BB) being same
- Object 10 got created by AA = 10 statement execution
- When BB variable is assigned the value 10 , Python sees that a similar object already exists
- Python optimizes memory usage by not creating another object.
- BB points to same object as AA. As such, memory id of AA and BB is same

###  **` TRY THIS OUT `**

In [28]:
a = 5.0
b = 5.0
C = a + b

print (id(AA), id(BB), id(C))

140717114442824 140717114442824 2461298537616

***
# Data Sturcutres
***
<font color = #318CE7 size = 3 >
- A data structure is a specific way organizing, storing, processing and retrieving data 

- Basic data structures in Python are: 
    - List 
    - Tuples 
    - Dictionary 
    - Set
- `Numpy` package in Python provide `1D, 2D, 3D,... nD Array Structure`
- `Pandas` package in Python provide `Series` and `Dataframe` data structures
</font>

***
## List
***

<font color = #318CE7 size = 3 >

- A List in python is a collection of objects
- Lists are initalized by square brackets [ ] 
- Lists are Iterable
- Lists are Mutable Objects. 
</font>

`Mutable and Immutable objects are explained later in this blog`

###  **` CREATING LIST  `**

In [29]:
[]  #### Empty List

[]

In [30]:
empty_list = []
type(empty_list)

list

In [31]:
my_list = [1, 'a', 2j, 'b',  3.0,  False] # elements

###  **` ACCESSING LIST ELEMENT `**

In [32]:
my_list

[1, 'a', 2j, 'b', 3.0, False]

In [33]:
my_list[1] ## Indexing in python starts from 0

'a'

In [34]:
my_list(0)  ## () are used for functions and my_list is not a function, 
# it is an Object of type List

TypeError: 'list' object is not callable

In [35]:
my_list[  2:5  ] ## Start Index is inclusive and End Index is not inclusive in Python

[2j, 'b', 3.0]

In [36]:
id(my_list)

2461303521856

### ` LIST MANIPULATION `

In [37]:
# ADD, MODIFY, and DELETE

In [38]:
my_list.append("XYZ") ## Appending new element to the list. List is Mutable
my_list

[1, 'a', 2j, 'b', 3.0, False, 'XYZ']

In [39]:
id(my_list)

2461303521856

In [40]:
del my_list[0] ## Deleting 1st element from the list. Index of 1st element is 0
my_list

['a', 2j, 'b', 3.0, False, 'XYZ']

In [41]:
my_list[0] = 'aa' ## Changing the value of the 1st element
my_list

['aa', 2j, 'b', 3.0, False, 'XYZ']

In [42]:
list2 = my_list # Shallow Copy

In [43]:
print(id(list2), id(my_list))

2461303521856 2461303521856

In [44]:
list2.append("New Element Added to List 2")

In [45]:
my_list

['aa', 2j, 'b', 3.0, False, 'XYZ', 'New Element Added to List 2']

In [46]:
list2

['aa', 2j, 'b', 3.0, False, 'XYZ', 'New Element Added to List 2']

In [47]:
list3 = my_list.copy() # Deep Copy

In [48]:
print(id(list3), id(my_list))

2461316532352 2461303521856

In [49]:
list3

['aa', 2j, 'b', 3.0, False, 'XYZ', 'New Element Added to List 2']

In [50]:
list3[-1] = "Reverse Indexing"

In [51]:
list3

['aa', 2j, 'b', 3.0, False, 'XYZ', 'Reverse Indexing']

In [52]:
my_list

['aa', 2j, 'b', 3.0, False, 'XYZ', 'New Element Added to List 2']

In [53]:
id(list3)

2461316532352

- Deleting list

In [54]:
del my_list ## Deleting the list

In [55]:
my_list

NameError: name 'my_list' is not defined

In [56]:
list2

['aa', 2j, 'b', 3.0, False, 'XYZ', 'New Element Added to List 2']

In [57]:
del list2

***
# Tuples
***
<font color = #318CE7 size = 3 >
    
- A Tuple is a collection of Python objects
- Tuple is similar to a list except that it is fixed-length and immutable.
- Tuples are iterable
- A tuple is initialized by round brackets () or the tuple() function

</font>


***

#### ` CREATING TUPLE `

In [58]:
t = ('a', 'b', 'c', 'd', 'e')
t

('a', 'b', 'c', 'd', 'e')

In [59]:
type(t)

tuple

#### ` other ways of defining the tuple `

In [60]:
t = 'a','b','c'
type(t)

tuple

In [61]:
type(t)

tuple

In [62]:
l = ['abcde', 12345]
t = tuple(l)
print(type(l), type(t), l, t)

<class 'list'> <class 'tuple'> ['abcde', 12345] ('abcde', 12345)

In [63]:
type(t)

tuple

In [64]:
t[1]

12345

In [65]:
t(1)

TypeError: 'tuple' object is not callable

In [66]:
t[1]='XYZ'
t

TypeError: 'tuple' object does not support item assignment

In [67]:
id(t)

2461316810176

In [68]:
t

('abcde', 12345)

In [69]:
t = tuple(l)

In [70]:
t

('abcde', 12345)

In [71]:
id(t)

2461317341888

In [72]:
## Tuples are immutable. 
## As such Adding, Deleting or Modifying any element of tuple will give error
t[1] = "xyz"

TypeError: 'tuple' object does not support item assignment

#### ` Initializing Tuples from List  `

In [73]:
k2_course = tuple(["Python", "R", "Statistics", "Machine Learning Alogrithms", "Capstone Projects"])

In [74]:
print(k2_course, type(k2_course))

('Python', 'R', 'Statistics', 'Machine Learning Alogrithms', 'Capstone Projects') <class 'tuple'>

In [75]:
datascience[0]

NameError: name 'datascience' is not defined

#### `Deleting a Tuple`

In [76]:
del t

In [77]:
t

NameError: name 't' is not defined

# Dictionaries
***
<font color = #318CE7 size = 3 >   
- A dictionary in Python is a collection of key-value pairs. 
</font>

In [78]:
{'key' : 'value' }  
# [] are used to create List
# () are used to create tuple
# {} are used to create dictionary

{'key': 'value'}

In [79]:
{'Key1':'Value1', 'Key2':'Value2', 'Key3':'Value3'}

{'Key1': 'Value1', 'Key2': 'Value2', 'Key3': 'Value3'}

In [80]:
d = {'Maharashtra':'Mumbai', 'Goa':'Panaji', 'Rajasthan':'Jaipur'} # State : Capital

In [81]:
d

{'Maharashtra': 'Mumbai', 'Goa': 'Panaji', 'Rajasthan': 'Jaipur'}

In [82]:
d['Goa']

'Panaji'

In [83]:
d1 = {'place': ["Pune","Mumbai"]}

In [84]:
id(d1)

2461317585600

In [85]:
d1["define"] = "This dictionary has set of Capitals as the place values"

In [86]:
id(d1)

2461317585600

In [87]:
d1['place'] = ["Pune","Mumbai","Delhi"]

In [88]:
d1

{'place': ['Pune', 'Mumbai', 'Delhi'],
 'define': 'This dictionary has set of Capitals as the place values'}

In [89]:
d1['place']

['Pune', 'Mumbai', 'Delhi']

In [90]:
d1['place'].append("Patna")

In [91]:
d1['place']

['Pune', 'Mumbai', 'Delhi', 'Patna']

### ` DICTIONARY MANIPULATION `
- Adding element to the Dictionary

In [92]:
id(d1)

2461317585600

In [93]:
d1['stdcode'] = ['020', '022', '011', '044']

In [94]:
d1

{'place': ['Pune', 'Mumbai', 'Delhi', 'Patna'],
 'define': 'This dictionary has set of Capitals as the place values',
 'stdcode': ['020', '022', '011', '044']}

In [95]:
id(d1)

2461317585600

- Deleting element from the Dictionary

In [96]:
del d1['place']

In [97]:
d1

{'define': 'This dictionary has set of Capitals as the place values',
 'stdcode': ['020', '022', '011', '044']}

- Updating Dictionary

In [98]:
d1['place'] = ['PUNE', 'MUMBAI', 'DELHI', 'CHENNAI']

In [99]:
d1

{'define': 'This dictionary has set of Capitals as the place values',
 'stdcode': ['020', '022', '011', '044'],
 'place': ['PUNE', 'MUMBAI', 'DELHI', 'CHENNAI']}

- Deleting Dictionary

In [100]:
del d1

In [101]:
d1

NameError: name 'd1' is not defined

# Sets
***
<font color = #318CE7 size = 3 >
    
- A set ia a collection of unique elements.
- A set is defined by only unique element.
</font>

In [102]:
{1,2,3} # Curly brackets

{1, 2, 3}

In [103]:
s = {1,1,2,2,2,3,3,3,4,4,4,5,5,5} # Defining a set

In [104]:
s

{1, 2, 3, 4, 5}

In [105]:
s = set(     [  1,1,2,2,4,5,5,4,5,4,1,2,1,2,3,2,1,2,3  ]    )

In [106]:
s

{1, 2, 3, 4, 5}

In [107]:
s = {1,1,2,2,3,3}

In [108]:
id(s)

2461316551776

In [109]:
type(s)

set

In [110]:
s.add(4)

In [111]:
s.add(10)

In [112]:
s.add(7)

In [113]:
s

{1, 2, 3, 4, 7, 10}

In [114]:
id(s)

2461316551776

# Mutable & Immutable Objects
***
<font color = #318CE7 size = 3 >
    
- Everything in Python is an Object
- a Mutable Object can be changed after it is created
- an Immutable Object cannot be changed after it is created
</font>

***

___
<a href='https://www.k2analytics.co.in'> <img src='https://k2analytics.co.in/wp-content/uploads/2020/03/Divi-K2-Logo.png' /></a>