___
<a href='https://www.k2analytics.co.in'> <img src='K2_Logo.jpg' alt="https://k2analytics.co.in" style="width:300px" /></a>
***
# Date Time Management in Python
***

In [1]:
## Importing Date Time modules
from datetime import date
from datetime import time
from datetime import datetime

In [2]:
#Get today's date 
today = date.today()
today

datetime.date(2025, 7, 11)

In [3]:
#Get today's date from datetime
today=datetime.now()
print(today)

2025-07-11 15:37:05.917232

In [4]:
# Get the current time
time_now = datetime.time(datetime.now())
print("The current time is:", time_now)

The current time is: 15:37:06.490923

In [5]:
#weekday returns 0 (monday) through 6 (sunday)
weekday=date.weekday(today)
weekday

4

In [6]:
#Days start at 0 for monday
days= ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
print("Today is day number %d" % weekday)
print("which is a " + days[weekday])

Today is day number 4
which is a Friday

### Formatting Date Time
### strftime - String Format output from Date Time Object

In [7]:
### Print out the full year with the century (e.g., 2019)
today.strftime('%Y')

'2025'

In [8]:
### Print out the Year only (e.g., 19)
today.strftime('%y')

'25'

In [9]:
### Declare the day, Month Year Seperately
today.strftime('%a, %d %b, %y')

'Fri, 11 Jul, 25'

In [10]:
### Declare the day, Month Year Seperately (Full Name & With Century Year)
today.strftime('%A, %d %B, %Y')

'Friday, 11 July, 2025'

In [11]:
#%C- indicates the local date and time
today.strftime('%c')

'Fri Jul 11 15:37:05 2025'

In [12]:
#%x- indicates the local date
today.strftime('%x')

'07/11/25'

In [13]:
#%X- indicates the local time
today.strftime('%X')

'15:37:05'

In [14]:
### 12-Hour:Minute:Second:AM
today.strftime('%I:%M:%S %p')

'03:37:05 PM'

In [15]:
### 24-Hour:Minute:Second
today.strftime('%H:%M:%S')

'15:37:05'

### strptime - String Format Input to be put in Date Time Object Format

In [16]:
date_str = "30/05/2021"
dt = datetime.strptime(date_str, "%d/%m/%Y").date()
dt

datetime.date(2021, 5, 30)

In [17]:
type(dt)

datetime.date

In [18]:
date_str = "25-May-2020"
datetime.strptime(date_str, "%d-%B-%Y").date()
dt

datetime.date(2021, 5, 30)

### Pandas & Datetime

In [19]:
import pandas as pd
df = pd.DataFrame(data = [
        [1, 2,3, 4],
        ['2015-04-01', '2016-05-01','2017-07-05', '2019-10-20']
    ]).T
df.columns = ['sr_no','app_dt']
df

  sr_no      app_dt
0     1  2015-04-01
1     2  2016-05-01
2     3  2017-07-05
3     4  2019-10-20

In [20]:
### Convert to date Format    ---Method 1
df['dt1'] = pd.to_datetime(df['app_dt'])

In [21]:
type(df['dt1'])

pandas.core.series.Series

In [22]:
df.dtypes

sr_no             object
app_dt            object
dt1       datetime64[ns]
dtype: object

In [23]:
df.head()

  sr_no      app_dt        dt1
0     1  2015-04-01 2015-04-01
1     2  2016-05-01 2016-05-01
2     3  2017-07-05 2017-07-05
3     4  2019-10-20 2019-10-20

In [24]:
### to remove timestamp
df['dt_new'] = df['dt1'].dt.date

In [25]:
type(df['dt_new'][1])

datetime.date

In [26]:

df['month'] = df['dt1'].dt.month
df['year'] = df['dt1'].dt.year
df['quarter'] = df['dt1'].dt.quarter
df['yyyymm'] = df['dt1'].dt.year *100 + df['dt1'].dt.month

In [27]:
df

  sr_no      app_dt        dt1      dt_new  month  year  quarter  yyyymm
0     1  2015-04-01 2015-04-01  2015-04-01      4  2015        2  201504
1     2  2016-05-01 2016-05-01  2016-05-01      5  2016        2  201605
2     3  2017-07-05 2017-07-05  2017-07-05      7  2017        3  201707
3     4  2019-10-20 2019-10-20  2019-10-20     10  2019        4  201910

In [28]:
### Convert to Date Format    ---Method 2
df['dt2'] = pd.to_datetime(df['app_dt'],format='%Y-%m-%d', errors='coerce').dt.date
df

,sr_no,app_dt,dt1,dt_new,month,year,quarter,yyyymm,dt2
0,1,2015-04-01,2015-04-01,2015-04-01,4,2015,2,201504,2015-04-01
1,2,2016-05-01,2016-05-01,2016-05-01,5,2016,2,201605,2016-05-01
2,3,2017-07-05,2017-07-05,2017-07-05,7,2017,3,201707,2017-07-05
3,4,2019-10-20,2019-10-20,2019-10-20,10,2019,4,201910,2019-10-20

***

<font color = #318CE7 size = 3 >
    
- `%a` : Weekday as locale’s abbreviated name. Sun, Mon, …, Sat (en_US)
- `%A` : Weekday as locale’s full name. Sunday, Monday, …, Saturday (en_US)
- `%w` : Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.
- `%d` : Day of the month as a zero-padded decimal number. 01, 02, …, 31
- `%b` : Month as locale’s abbreviated name. Jan, Feb, …, Dec (en_US);
- `%B` : Month as locale’s full name. January, February, …, December (en_US);
- `%m` : Month as a zero-padded decimal number. 01, 02, …, 12
- `%y` : Year without century as a zero-padded decimal number. 00, 01, …, 99
- `%Y` : Year with century as a decimal number. 1970, 1988, 2001, 2013
- `%H` : Hour (24-hour clock) as a zero-padded decimal number. 00, 01, …, 23
- `%I` : Hour (12-hour clock) as a zero-padded decimal number. 01, 02, …, 12
- `%p` : Locale’s equivalent of either AM or PM. AM, PM (en_US);
- `%M` : Minute as a zero-padded decimal number. 00, 01, …, 59
- `%S` : Second as a zero-padded decimal number. 00, 01, …, 59
- `%f` : Microsecond as a decimal number, zero-padded on the left. 000000, 000001, …, 999999
- `%z` : UTC offset in the form +HHMM or -HHMM (empty string if the the object is naive). (empty), +0000, -0400, +1030
- `%Z` : Time zone name (empty string if the object is naive). (empty), UTC, EST, CST
- `%j` : Day of the year as a zero-padded decimal number. 001, 002, …, 366
- `%U` : Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. All days in a new year preceding the first Sunday are considered to be in week 0. 00, 01, …, 53
- `%W` : Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0. 00, 01, …, 53
- `%c` : Locale’s appropriate date and time representation. Tue Aug 16 21:30:00 1988 (en_US)
- `%x` : Locale’s appropriate date representation. 08/16/88 (None); 08/16/1988 (en_US)
- `%X` : Locale’s appropriate time representation. 21:30:00 (en_US)
- `%%` : A literal '%' character. %

</font>

***

[REFERENCE](https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior)

# Thank you
### K2 Analytics Google Reviews - <a href = "https://g.co/kgs/5n52mH"> K2Analytics@GoogleReviews </a>
***